https://vscode.dev/github/BrendaMaganeli/2Fase-SENAI/blob/5d62d67ddd6f2caa7f21e7505d224c40000e884c/Exercicios/.gitignore#L1# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
